<!doctype html>
<html lang="en" class="govuk-template">
  <%= partial "partials/head" %>

  <body class="govuk-template__body">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%= partial "partials/cookie_banner" %>
    <%= partial "partials/header" %>

    <%= yield %>

    <%= partial "partials/footer" %>
    <%= partial "partials/javascript" %>
  </body>
</html>
