---
title: Digital Shared Services
---

<div class="govuk-width-container product-page-!-border-bottom">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a class="govuk-breadcrumbs__list-item">Architecture Team</a>
      </li>
    </ol>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= partial "partials/blog_title" %>
        <% blog.articles[0...5].each do |article| %>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <article>
            <h2 class="govuk-heading-m">
              <a href="<%= article.url %>"><%= article.title %></a>
            </h2>

            <section class="content-section">
              <img src="<%= article.data.image %>" class="image govuk-!-display-block govuk-!-margin-bottom-4" alt="<%= article.data.image_alt %>">
            </section>

            <div class="govuk-body">
              <span class="govuk-visually-hidden">Posted on: </span>
              <time>
                <span class="posted-on"><%= article.date.strftime('%d %B %Y') %></span>
              </time>
              -
              <span class="govuk-visually-hidden">Category: </span>
              <%= article.data.category %>
            </div>

            <div class="govuk-body">
              <%= article.summary %>
            </div>

            <a href="<%= article.url %>" class="govuk-link" aria-label="Read more about <%= article.title %>">Read more</a>
          </article>
        <% end %>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-left-3">
        <aside class="related-items">
          <h2 class="related-items__title">Digital Shared Services</h2>
          <p class="govuk-body">
            Digital Shared Services (DSS) is a Directorate within Enterprise Shared Services (ESS) in the Department of Finance.
          </p>
          <p class="govuk-body">
            It provides IT infrastructure services for the NI Civil Service and some wider public sector organisations, and has responsibility for the NI Government citizen portal
            <a class="govuk-link" href="https://www.nidirect.gov.uk">www.nidirect.gov.uk</a>
            (including nidirect contact centre services) and delivering the NI Digital Transformation Programme.
          </p>

          <p class="govuk-body">
            <a class="govuk-link" href="https://www.finance-ni.gov.uk/topics/digital-and-communication-services/digital-shared-services">Find out more about DSS</a>
          </p>
        </aside>

        <aside class="related-items">
          <h2 class="related-items__title">Architecture principles and guidance</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="https://nics-ea-principles.london.cloudapps.digital">NICS EA Principles</a></li>
            <li><a class="govuk-link" href="https://docs.ea.digitalni.gov.uk">Citizen Services Architecture</a></li>
          </ul>
          <h2 class="related-items__title">Related strategy documents</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="https://www.finance-ni.gov.uk/publications/digital-transformation-strategy-2017-2021">Digital Transformation Strategy 2017-2021</a></li>
            <li><a class="govuk-link" href="https://www.finance-ni.gov.uk/publications/northern-ireland-civil-service-ict-strategy-2017-2021">NICS ICT Strategy 2017-2021</a></li>
            <li><a class="govuk-link" href="https://www.finance-ni.gov.uk/publications/cyber-security-strategic-framework-action">Cyber Security Strategy 2017-2021</a></li>
            <li><a class="govuk-link" href="https://www.finance-ni.gov.uk/publications/open-data-strategy-northern-ireland-2020-2023">Open Data Strategy 2020-2023</a></li>
          </ul>
        </aside>

        <aside class="related-items">
          <h2 class="related-items__title">New accessibility regulations</h2>
          <p class="govuk-body">
            New regulations came into force on 23 September 2018 which say that all public sector websites or apps must:
            <ul class="govuk-list govuk-list--bullet">
              <li>meet accessibility standards</li>
              <li>publish an accessibility statement</li>
            </ul>
          </p>
          <p class="govuk-body">
            For detailed guidance please visit the <a href="https://www.gov.uk/guidance/make-your-website-or-app-accessible-and-publish-an-accessibility-statement">accessibility guidance from Government Digital Service</a>.
          <p>
        </aside>

        <aside class="related-items">
          <h2 class="related-items__title">NICS ICT Conference 2019</h2>
          <img src="/images/home/2019-ict-conference.png" alt="NICS ICT Conference 2019 logo" class="dss-image">
          <p class="govuk-body">
            This year the NICS ICT Conference took place on Friday 18th October in E3 Belfast Metropolitan Campus, Springfield Road, Belfast. There was an array of exciting and inspirational speakers from both the public and private sectors covering topics such as education, cyber security, innovation and next generation wireless communications.
          </p>
          <p class="govuk-body">
            For a quick overview visit the <a class="govuk-link" href="https://www.digit21.co.uk">2019 conference webstite</a> and see who you can recognise in the gallery!
          </p>
        </aside>
      </div>
    </div>
  </div>
</main>
