---
title: Digital Shared Services
---

<div class="govuk-width-container product-page-!-border-bottom">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a class="govuk-breadcrumbs__list-item">Architecture Team</a>
      </li>
    </ol>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= partial "partials/blog_title" %>
        <% blog.articles[0...5].each do |article| %>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <article>
            <h2 class="govuk-heading-m">
              <a href="<%= article.url %>"><%= article.title %></a>
            </h2>

            <section class="content-section">
              <img src="<%= article.data.image %>" class="image govuk-!-display-block govuk-!-margin-bottom-4">
            </section>

            <div class="govuk-body">
              <span class="govuk-visually-hidden">Posted on: </span>
              <time>
                <span class="posted-on"><%= article.date.strftime('%d %B %Y') %></span>
              </time>
              -
              <span class="govuk-visually-hidden">Category: </span>
              <%= article.data.category %>
            </div>

            <div class="govuk-body">
              <%= article.summary %>
            </div>

            <a href="<%= article.url %>" class="govuk-link">Read more</a>
          </article>
        <% end %>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-left-3">
        <!--
        <h1 class="govuk-heading-l">Tags</h1>
        <ul>
          <% blog.tags.each do |tag, articles| %>
            <li>
              <h5><%= tag %></h5>
              <ul>
                <% articles.each do |article| %>
                  <li><a href="<%= article.url %>"><%= article.title %></a></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
        -->
        <h4 class="govuk-heading-s">Other content</h1>
        <p class="govuk-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
  </div>
</main>
